<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>会员系统</title>
    <link rel="stylesheet" href="__STATIC__/style/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/style/public.css">
    <link rel="stylesheet" href="__STATIC__/home/style/index.css">
</head>

<body>
    <div class="layout">
        {include file="public/head"}
        <div class="layout-body container">
            <div class="banner" id="banner">
                <ul class="inner">
                    <li>
                        <a href="javascript:void(0)">
                            <img src="__STATIC__/image/array_five.jpg" alt="">
                        </a>
                    </li><!--
                --><li>
                        <a href="javascript:void(0)">
                            <img src="__STATIC__/image/pk10FS.jpg" alt="">
                        </a>
                    </li><!--
                --><li>
                        <a href="javascript:void(0)">
                            <img src="__STATIC__/image/pokemon.jpg" alt="">
                        </a>
                    </li><!--
                --> <li>
                        <a href="javascript:void(0)">
                            <img src="__STATIC__/image/chongqing_7star.jpg" alt="">
                        </a>
                    </li>
                </ul>
                <span class="banner-item-outer">
                    <span class="touchslider-nav-item on"></span>
                    <span class="touchslider-nav-item on"></span>
                    <span class="touchslider-nav-item on"></span>
                    <span class="touchslider-nav-item on"></span>
                </span>
            </div>
            <div class="gameTable">
                <table cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                        <tr>
                            <td id="k3">
                            </td>
                            <td id="ssc">
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<script src="__STATIC__/js/jquery-2.1.4.min.js"></script>
<script src="__STATIC__/js/TouchSlide.1.1.js"></script>
<script src="/static/js/global.js"></script>
<script src="/static/home/js/index.js"></script>
</html>