<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>结算账户</title>
    <link rel="stylesheet" href="__STATIC__/style/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/style/public.css">
    <link rel="stylesheet" href="__STATIC__/account/style/index.css">
</head>

<body>
    <div class="layout">
        {include file="public/head"}
        <!-- 控制内容宽度 （userInfo -> 左侧显示user） -->
        <div class="main userInfo">
            <!-- 左侧人物信息 -->
            <div class="layout-slidebar">
                <div class="userForm">
                    <div class="logo-warp">
                        <div class="game-logo"></div>
                        <div class="game-name">吉林快3</div>
                    </div>
                    <div class="acct-bg">
                        <div class="acct border-b565656">
                            <div class="acct-key">账号</div>
                            <div class="acct-value">qwe1133</div>
                        </div>
                        <div class="acct border-tb5b5b5">
                            <div class="acct-key">现金额度</div>
                            <div class="acct-value">100</div>
                        </div>
                    </div>
                    <div class="table-list">
                        <div class="table-title">
                            <span class="icon"></span>最新投注
                        </div>
                        <div class="table-content">
                            <p>最新&nbsp;&nbsp;<b>1</b>&nbsp;&nbsp;笔</p>
                            <table cellspacing="0" cellpadding="0" border="0">
                                <thead>
                                    <tr>
                                        <th>时间</th>
                                        <th>内容</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td>内容</td>
                                        <td>赔率</td>
                                        <td>金额</td>
                                    </tr>
                                    <tr>
                                        <td>时间</td>
                                        <td>内容</td>
                                        <td>赔率</td>
                                        <td>金额</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="table-list">
                        <div class="table-title">
                            <span class="icon"></span>最新投注
                        </div>
                        <div class="table-content">
                            <table cellspacing="0" cellpadding="0" border="0">
                                <thead>
                                    <tr>
                                        <th>期数</th>
                                        <th>开奖号码</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>20190308-016</td>
                                        <td>
                                            <span class="color2">2</span>
                                            <span class="color3">3</span>
                                            <span class="color3">3</span>
                                        </td>
                                    </tr>
                                    <tr>
                                            <td>20190308-016</td>
                                            <td>
                                                <span class="color2">2</span>
                                                <span class="color3">3</span>
                                                <span class="color3">3</span>
                                            </td>
                                        </tr>
                                        <tr>
                                                <td>20190308-016</td>
                                                <td>
                                                    <span class="color2">2</span>
                                                    <span class="color3">3</span>
                                                    <span class="color3">3</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                    <td>20190308-016</td>
                                                    <td>
                                                        <span class="color2">2</span>
                                                        <span class="color3">3</span>
                                                        <span class="color3">3</span>
                                                    </td>
                                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 右侧内容信息 -->
            <div class="layout-body">
                <div class="portlet">
                    <div class="portlet-title">
                        <select name="" id="" class="form-control changeGame">
                            <option value="">体裁PL3</option>
                            <option value="">吉林快3</option>
                        </select>
                    </div>
                    <div class="portlet-body">
                        <table class="h-table" cellspacing="0" cellpadding="0" border="0">
                            <thead>
                                <tr>
                                    <th >日期</th>
                                    <th >单量</th>
                                    <th >金额</th>
                                    <th >派彩</th>
                                    <th >退水</th>
                                    <th >输赢</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="bg-eee">
                                        <a href="javascript:void(0)">2019-03-10 星期日</a>
                                    </td>
                                    <td>0</td>
                                    <td>1.00</td>
                                    <td>0.00</td>
                                    <td>0.00</td>
                                    <td>0.00</td>
                                </tr>
                                <tr>
                                    <td class="bg-eee">
                                        <a href="javascript:void(0)">2019-03-10 星期日</a>
                                    </td>
                                    <td>0</td>
                                    <td>1.00</td>
                                    <td>0.00</td>
                                    <td>0.00</td>
                                    <td>0.00</td>
                                </tr>
                                <tr>
                                    <td class="bg-eee">
                                        <a href="javascript:void(0)">2019-03-10 星期日</a>
                                    </td>
                                    <td>0</td>
                                    <td>1.00</td>
                                    <td>0.00</td>
                                    <td>0.00</td>
                                    <td>0.00</td>
                                </tr>
                                <tr>
                                    <td class="bg-eee">
                                        <a href="javascript:void(0)">2019-03-10 星期日</a>
                                    </td>
                                    <td>0</td>
                                    <td>1.00</td>
                                    <td>0.00</td>
                                    <td>0.00</td>
                                    <td>0.00</td>
                                </tr>
                                <tr>
                                    <td class="bg-eee">
                                        <a href="javascript:void(0)">2019-03-10 星期日</a>
                                    </td>
                                    <td>0</td>
                                    <td>1.00</td>
                                    <td>0.00</td>
                                    <td>0.00</td>
                                    <td>0.00</td>
                                </tr>
                                <tr>
                                    <td class="bg-eee">
                                        <a href="javascript:void(0)">2019-03-10 星期日</a>
                                    </td>
                                    <td>0</td>
                                    <td>1.00</td>
                                    <td>0.00</td>
                                    <td>0.00</td>
                                    <td>0.00</td>
                                </tr>
                                <tr>
                                    <td class="bg-eee">
                                        <a href="javascript:void(0)">2019-03-10 星期日</a>
                                    </td>
                                    <td>0</td>
                                    <td>1.00</td>
                                    <td>0.00</td>
                                    <td>0.00</td>
                                    <td>0.00</td>
                                </tr>
                                <tr>
                                    <td>总计</td>
                                    <td>7.00</td>
                                    <td>0.00</td>
                                    <td>0.00</td>
                                    <td>0.00</td>
                                    <td><b>0.00</b></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="portlet-footer">
                            <div class="page-info">
                                <span>当前页合计:&nbsp;<b class="page-total">1</b>&nbsp;笔</span>
                                <span>&nbsp;&nbsp;跳至&nbsp;</span>
                                <select name="" class="form-control page-jump" id="">
                                    <option value="1">1</option>
                                </select>
                                <span>&nbsp;页&nbsp;／&nbsp;<b class="page-index">1</b>&nbsp;页&nbsp;&nbsp;</span>
                                <a href="javascript:void(0)" class="page-first">首页</a>
                                <a href="javascript:void(0)" class="page-prev">上一页</a>
                                <a href="javascript:void(0)" class="page-next">下一页</a>
                                <a href="javascript:void(0)" class="page-last">末页</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="__STATIC__/js/jquery-2.1.4.min.js"></script>
<!-- <script src="__STATIC__/js/TouchSlide.1.1.js"></script> -->
<!-- <script>
    TouchSlide({
        slideCell:'#banner',
        mainCell:"#banner .inner",
        effect:"leftLoop",
        // prevCell:".banner-prevCell",
        // nextCell:".banner-nextCell",
        titCell : '.banner-item-outer span',
        autoPlay:true,
        interTime:4000
    })

</script> -->

</html>