<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>下注明细</title>
    <link rel="stylesheet" href="__STATIC__/style/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/style/public.css">
    <link rel="stylesheet" href="__STATIC__/detail/style/index.css">
</head>

<body>
    <div class="layout">
        {include file="public/head"}
        <!-- 控制内容宽度 （userInfo -> 左侧显示user） -->
        <div class="main" id="main">
            <!-- 左侧人物信息 -->
            {include file="public/slidebar"}
            <!-- 右侧内容信息 -->
            <div class="layout-body">
                <div class="portlet">
                    <div class="portlet-title">
                        <select id="changeGame" class="form-control changeGame"></select>
                        <span>&nbsp;&nbsp;下注明细(当前未结算注单)&nbsp;&nbsp;</span>
                    </div>
                    <div class="portlet-body">
                        <table class="h-table" cellspacing="0" cellpadding="0" border="0">
                            <thead>
                                <tr>
                                    <th width="2%">No</th>
                                    <th width="10%">下注时间</th>
                                    <th width="10%">注单单号</th>
                                    <th width="5%">分盘</th>
                                    <th width="30%">投注内容</th>
                                    <th width="10%">金额</th>
                                    <th width="10%">退水</th>
                                    <th width="10%">输赢</th>
                                </tr>
                            </thead>
                            <tbody id="tableBody">
                            </tbody>
                        </table>
                    </div>
                    <div class="portlet-footer">
                        <div class="page-info" id="pageInfo">
                            <span>当前页合计:&nbsp;<b class="page-total">1</b>&nbsp;笔</span>
                            <span>&nbsp;&nbsp;跳至&nbsp;</span>
                            <select name="" class="form-control page-index" id=""></select>
                            <span>&nbsp;页&nbsp;／&nbsp;<b class="page-page">1</b>&nbsp;页&nbsp;&nbsp;</span>
                            <a href="javascript:void(0)" class="page-first">首页</a>
                            <a href="javascript:void(0)" class="page-prev">上一页</a>
                            <a href="javascript:void(0)" class="page-next">下一页</a>
                            <a href="javascript:void(0)" class="page-last">末页</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="__STATIC__/js/jquery-2.1.4.min.js"></script>
<script src="/static/js/global.js"></script>
<script src="/static/detail/js/index.js"></script>
</html>