

.portlet-title{
    line-height: 38px;
    font-size: 0;
}
.portlet-title span,
.portlet-title a{
    vertical-align: middle;
    line-height: 38px;
    font-size: 14px;
}
.changeGame.form-control{
    width: 95px;
    display: inline-block;
    vertical-align: middle;
    height: 26px;
    font-size: 14px;
    padding: 0;
}
.page-info{
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    margin-left: 10px;
}
.page-info span,
.page-info a,
.page-info select,
.page-info input{
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
}
.page-info .form-control{
    height: 26px;
    display: inline-block;
}
.page-info .page-jump{
    width: 35px;
    padding: 3px 3px;
}
.page-info .page-prev{
    margin-left: 25px;
}
.page-info .page-next{
    margin-left: 10px;
}

.h-table td{
    text-align: center;
    height: 51px;
}
.h-table p{
    margin: 0;
}
.h-table .h-table-footer{
    height: 31px;
    background: rgb(245, 245, 245) !important;
}