
.portlet-title{
    line-height: 38px;
    font-size: 0;
}
.portlet-title span{
    vertical-align: middle;
    line-height: 38px;
    font-size: 14px;
}
.changeGame.form-control{
    width: 95px;
    display: inline-block;
    vertical-align: middle;
    height: 26px;
    font-size: 14px;
    padding: 0;
}
.bg-eee{
    background: rgb(245, 245, 245) !important;
}
.h-table td{
    text-align: center;
}
.h-table a{
    color: #0254a6;
    font-weight: bold;
}