<div class="layout-slidebar" id="slidebar">
    <div class="userForm">
        <div class="logo-warp">
            <div class="game-logo" id="slidebarGameLogo"></div>
            <div class="game-name" id="slidebarGameName"></div>
        </div>
        <div class="acct-bg">
            <div class="acct border-b565656">
                <div class="acct-key">账号</div>
                <div class="acct-value" id="slidebarUsername"></div>
            </div>
            <div class="acct border-tb5b5b5">
                <div class="acct-key">现金额度</div>
                <div class="acct-value" id="slidebarBalance"></div>
            </div>
        </div>
        <div class="table-list">
            <div class="table-title" >
                <span class="icon"></span>最新投注
            </div>
            <div class="table-content" id="slidebarBetPage">
                <p>最新&nbsp;&nbsp;<b class="page-total">1</b>&nbsp;&nbsp;笔</p>
                <table cellspacing="0" cellpadding="0" border="0">
                    <thead>
                        <tr>
                            <th>时间</th>
                            <th>内容</th>
                            <th>赔率</th>
                            <th>金额</th>
                        </tr>
                    </thead>
                    <tbody id="slidebarBetTable">
                    </tbody>
                </table>
                <p class="m-t-5">共:<b class="page-page">1</b>页&nbsp;&nbsp;<a href="javascript:void(0)" class="page-prev">上一页</a>&nbsp;<a href="javascript:void(0)" class="page-next">下一页</a></p>
            </div>
        </div>
        <div class="table-list">
            <div class="table-title">
                <span class="icon"></span>开奖号码
            </div>
            <div class="table-content">
                <table cellspacing="0" cellpadding="0" border="0">
                    <thead>
                        <tr>
                            <th>期数</th>
                            <th>开奖号码</th>
                        </tr>
                    </thead>
                    <tbody id="slidebarNumTable">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>