<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>结算账户</title>
    <link rel="stylesheet" href="__STATIC__/style/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/style/public.css">
    <link rel="stylesheet" href="__STATIC__/game/style/jlk3.css">
</head>

<body>
    <div class="layout">
        {include file="public/head"}
        <!-- 控制内容宽度 （userInfo -> 左侧显示user） -->
        <div class="main" id="main">
            <!-- 左侧人物信息 -->
            {include file="public/slidebar"}
            <!-- 右侧内容信息 -->
            <div class="layout-body" id="layoutBody">
                <!-- 上部分 -->
                <div class="page-content-title">
                    <span>第</span>
                    <strong class="f-c-red">{{periods}}</strong>
                    <span>开奖号码</span>
                    <span v-for="(item,index) in periods_number" class="color-game" :class="'color' + item">{{item}}</span>
                    <!-- <span class="color1 color-game">1</span>
                    <span class="color2 color-game">2</span>
                    <span class="color3 color-game">3</span> -->
                </div>
                <!-- 切换 -->
                <div class="clear-float select-wrapper">
                    <strong class="sub-title m-r-15">投注类型</strong>
                    <div class="select-item active m-r-5">一般</div>
                    <div class="select-item">游戏规则</div>
                </div>
                <div class="portlet">
                    <div class="portlet-title clear-float">
                        <span>重庆时时彩&nbsp;&nbsp;龙虎&nbsp;</span>
                        <select name="" id="" class="form-control changeGame">
                            <option selected value="">A</option>
                            <option value="">B</option>
                        </select>
                        <span class="m-l-30">第<b class="f-c-red">20190311-054</b>期</span>
                        <span class="m-l-30">投注时间：<b class="f-c-red">0:12:40</b></span>
                        <span class="m-l-30">停盘时间：<b>22:07:00</b></span>
                        <div class="fast-import pull-right">
                            <span>快速输入&nbsp;</span>
                            <input type="text" class="form-control m-r-15 quickImport">
                            <span class="h-btn btn-red">重新整理</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <!-- 第一项 -->
                        <table class="h-table" data-name="begin-table" data-key="sanjun" cellspacing="0" cellpadding="0" border="0">
                            <thead>
                                <tr>
                                    <th colspan="100">三军(一同骰子=（赔率-1）X1、 二同骰子=（赔率-1）X2、 三同骰子=（赔率-1）X3)</th>
                                </tr>
                                <tr>
                                    <th>号码</th>
                                    <th>赔率</th>
                                    <th>金额</th>
                                    <th>号码</th>
                                    <th>赔率</th>
                                    <th>金额</th>
                                    <th>号码</th>
                                    <th>赔率</th>
                                    <th>金额</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th data-item="SJ_N_1" onclick="setNumber('SJ_N_1')">1</th>
                                    <td data-item="SJ_N_1" onclick="setNumber('SJ_N_1')">
                                        <b class="f-c-red f-s-16">1.98</b>
                                    </td>
                                    <td data-item="SJ_N_1" onclick="setNumber('SJ_N_1')">
                                        <input type="text" name="1">
                                    </td>

                                    <th data-item="SJ_N_2" onclick="setNumber('SJ_N_2')">2</th>
                                    <td data-item="SJ_N_2" onclick="setNumber('SJ_N_2')">
                                        <b class="f-c-red f-s-16">1.98</b>
                                    </td>
                                    <td data-item="SJ_N_2" onclick="setNumber('SJ_N_2')">
                                        <input type="text" name="2">
                                    </td>

                                    <th data-item="SJ_N_3" onclick="setNumber('SJ_N_3')">3</th>
                                    <td data-item="SJ_N_3" onclick="setNumber('SJ_N_3')">
                                        <b class="f-c-red f-s-16">1.98</b>
                                    </td>
                                    <td data-item="SJ_N_3" onclick="setNumber('SJ_N_3')">
                                        <input type="text" name="3">
                                    </td>
                                </tr>
                                <tr>
                                    <th data-item="SJ_N_4" onclick="setNumber('SJ_N_4')">4</th>
                                    <td data-item="SJ_N_4" onclick="setNumber('SJ_N_4')">
                                        <b class="f-c-red f-s-16">1.98</b>
                                    </td>
                                    <td data-item="SJ_N_4" onclick="setNumber('SJ_N_4')">
                                        <input type="text" name="4">
                                    </td>

                                    <th data-item="SJ_N_5" onclick="setNumber('SJ_N_5')">5</th>
                                    <td data-item="SJ_N_5" onclick="setNumber('SJ_N_5')">
                                        <b class="f-c-red f-s-16">1.98</b>
                                    </td>
                                    <td data-item="SJ_N_5" onclick="setNumber('SJ_N_5')">
                                        <input type="text" name="5">
                                    </td>

                                    <th data-item="SJ_N_6" onclick="setNumber('SJ_N_6')">6</th>
                                    <td data-item="SJ_N_6" onclick="setNumber('SJ_N_6')">
                                        <b class="f-c-red f-s-16">1.98</b>
                                    </td>
                                    <td data-item="SJ_N_6" onclick="setNumber('SJ_N_6')">
                                        <input type="text" name="6">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- 第二项 -->
                        <table class="h-table" data-name="begin-table" data-key="hezhi" cellspacing="0" cellpadding="0" border="0">
                            <thead>
                                <tr>
                                    <th colspan="100">合值</th>
                                </tr>
                                <tr>
                                    <th>号码</th>
                                    <th>赔率</th>
                                    <th>金额</th>
                                    <th>号码</th>
                                    <th>赔率</th>
                                    <th>金额</th>
                                    <th>号码</th>
                                    <th>赔率</th>
                                    <th>金额</th>
                                    <th>号码</th>
                                    <th>赔率</th>
                                    <th>金额</th>
                                    <th>号码</th>
                                    <th>赔率</th>
                                    <th>金额</th>
                                </tr>
                                <tr>
                                    <th data-item="HZ_N_3" onclick="setNumber('HZ_N_3')">3</th>
                                    <td data-item="HZ_N_3" onclick="setNumber('HZ_N_3')">
                                        <b class="f-c-red f-s-16">181</b>
                                    </td>
                                    <td data-item="HZ_N_3" onclick="setNumber('HZ_N_3')">
                                        <input class="gb" type="text" name="3">
                                    </td>

                                    <th data-item="HZ_N_4" onclick="setNumber('HZ_N_4')">4</th>
                                    <td data-item="HZ_N_4" onclick="setNumber('HZ_N_4')">
                                        <b class="f-c-red f-s-16">61</b>
                                    </td>
                                    <td data-item="HZ_N_4" onclick="setNumber('HZ_N_4')">
                                        <input class="gb" type="text" name="4">
                                    </td>

                                    <th data-item="HZ_N_5" onclick="setNumber('HZ_N_5')">5</th>
                                    <td data-item="HZ_N_5" onclick="setNumber('HZ_N_5')">
                                        <b class="f-c-red f-s-16">31</b>
                                    </td>
                                    <td data-item="HZ_N_5" onclick="setNumber('HZ_N_5')">
                                        <input class="gb" type="text" name="5">
                                    </td>

                                    <th data-item="HZ_N_6" onclick="setNumber('HZ_N_6')">6</th>
                                    <td data-item="HZ_N_6" onclick="setNumber('HZ_N_6')">
                                        <b class="f-c-red f-s-16">19</b>
                                    </td>
                                    <td data-item="HZ_N_6" onclick="setNumber('HZ_N_6')">
                                        <input class="gb" type="text" name="6">
                                    </td>

                                    <th data-item="HZ_N_7" onclick="setNumber('HZ_N_7')">7</th>
                                    <td data-item="HZ_N_7" onclick="setNumber('HZ_N_7')">
                                        <b class="f-c-red f-s-16">12.9</b>
                                    </td>
                                    <td data-item="HZ_N_7" onclick="setNumber('HZ_N_7')">
                                        <input class="gb" type="text" name="7">
                                    </td>
                                </tr>

                                <tr>
                                    <th data-item="HZ_N_8" onclick="setNumber('HZ_N_8')">8</th>
                                    <td data-item="HZ_N_8" onclick="setNumber('HZ_N_8')">
                                        <b class="f-c-red f-s-16">9.2</b>
                                    </td>
                                    <td data-item="HZ_N_8" onclick="setNumber('HZ_N_8')">
                                        <input class="gb" type="text" name="8">
                                    </td>

                                    <th data-item="HZ_N_9" onclick="setNumber('HZ_N_9')">9</th>
                                    <td data-item="HZ_N_9" onclick="setNumber('HZ_N_9')">
                                        <b class="f-c-red f-s-16">7.7</b>
                                    </td>
                                    <td data-item="HZ_N_9" onclick="setNumber('HZ_N_9')">
                                        <input class="gb" type="text" name="9">
                                    </td>

                                    <th data-item="HZ_N_10" onclick="setNumber('HZ_N_10')">10</th>
                                    <td data-item="HZ_N_10" onclick="setNumber('HZ_N_10')">
                                        <b class="f-c-red f-s-16">7.1</b>
                                    </td>
                                    <td data-item="HZ_N_10" onclick="setNumber('HZ_N_10')">
                                        <input class="gb" type="text" name="10">
                                    </td>

                                    <th data-item="HZ_N_11" onclick="setNumber('HZ_N_11')">11</th>
                                    <td data-item="HZ_N_11" onclick="setNumber('HZ_N_11')">
                                        <b class="f-c-red f-s-16">7.1</b>
                                    </td>
                                    <td data-item="HZ_N_11" onclick="setNumber('HZ_N_11')">
                                        <input class="gb" type="text" name="11">
                                    </td>

                                    <th data-item="HZ_N_12" onclick="setNumber('HZ_N_12')">12</th>
                                    <td data-item="HZ_N_12" onclick="setNumber('HZ_N_12')">
                                        <b class="f-c-red f-s-16">7.7</b>
                                    </td>
                                    <td data-item="HZ_N_12" onclick="setNumber('HZ_N_12')">
                                        <input class="gb" type="text" name="12">
                                    </td>
                                </tr>

                                <tr>
                                    <th data-item="HZ_N_13" onclick="setNumber('HZ_N_13')">13</th>
                                    <td data-item="HZ_N_13" onclick="setNumber('HZ_N_13')">
                                        <b class="f-c-red f-s-16">9.2</b>
                                    </td>
                                    <td data-item="HZ_N_13" onclick="setNumber('HZ_N_13')">
                                        <input class="gb" type="text" name="13">
                                    </td>

                                    <th data-item="HZ_N_14" onclick="setNumber('HZ_N_14')">14</th>
                                    <td data-item="HZ_N_14" onclick="setNumber('HZ_N_14')">
                                        <b class="f-c-red f-s-16">12.9</b>
                                    </td>
                                    <td data-item="HZ_N_14" onclick="setNumber('HZ_N_14')">
                                        <input class="gb" type="text" name="14">
                                    </td>

                                    <th data-item="HZ_N_15" onclick="setNumber('HZ_N_15')">15</th>
                                    <td data-item="HZ_N_15" onclick="setNumber('HZ_N_15')">
                                        <b class="f-c-red f-s-16">19</b>
                                    </td>
                                    <td data-item="HZ_N_15" onclick="setNumber('HZ_N_15')">
                                        <input class="gb" type="text" name="15">
                                    </td>

                                    <th data-item="HZ_N_16" onclick="setNumber('HZ_N_16')">16</th>
                                    <td data-item="HZ_N_16" onclick="setNumber('HZ_N_16')">
                                        <b class="f-c-red f-s-16">31</b>
                                    </td>
                                    <td data-item="HZ_N_16" onclick="setNumber('HZ_N_16')">
                                        <input class="gb" type="text" name="16">
                                    </td>

                                    <th data-item="HZ_N_17" onclick="setNumber('HZ_N_17')">17</th>
                                    <td data-item="HZ_N_17" onclick="setNumber('HZ_N_17')">
                                        <b class="f-c-red f-s-16">61</b>
                                    </td>
                                    <td data-item="HZ_N_17" onclick="setNumber('HZ_N_17')">
                                        <input class="gb" type="text" name="17">
                                    </td>
                                </tr>

                                <tr>
                                    <th data-item="HZ_N_18" onclick="setNumber('HZ_N_18')">18</th>
                                    <td data-item="HZ_N_18" onclick="setNumber('HZ_N_18')">
                                        <b class="f-c-red f-s-16">181</b>
                                    </td>
                                    <td data-item="HZ_N_18" onclick="setNumber('HZ_N_18')">
                                        <input class="gb" type="text" name="18">
                                    </td>
                                    <td colspan="12"></td>
                                </tr>

                                <tr>
                                    <th data-item="HZ_N_BIG" onclick="setNumber('HZ_N_BIG')">大</th>
                                    <td data-item="HZ_N_BIG" onclick="setNumber('HZ_N_BIG')">
                                        <b class="f-c-red f-s-16">1.95</b>
                                    </td>
                                    <td data-item="HZ_N_BIG" onclick="setNumber('HZ_N_BIG')">
                                        <input class="gb" type="text" name="da">
                                    </td>

                                    <th data-item="HZ_N_SMALL" onclick="setNumber('HZ_N_SMALL')">小</th>
                                    <td data-item="HZ_N_SMALL" onclick="setNumber('HZ_N_SMALL')">
                                        <b class="f-c-red f-s-16">1.95</b>
                                    </td>
                                    <td data-item="HZ_N_SMALL" onclick="setNumber('HZ_N_SMALL')">
                                        <input class="gb" type="text" name="xiao">
                                    </td>

                                    <th data-item="HZ_N_SINGLE" onclick="setNumber('HZ_N_SINGLE')">单</th>
                                    <td data-item="HZ_N_SINGLE" onclick="setNumber('HZ_N_SINGLE')">
                                        <b class="f-c-red f-s-16">1.95</b>
                                    </td>
                                    <td data-item="HZ_N_SINGLE" onclick="setNumber('HZ_N_SINGLE')">
                                        <input class="gb" type="text" name="dan">
                                    </td>

                                    <th data-item="HZ_N_ODD" onclick="setNumber('HZ_N_ODD')">双</th>
                                    <td data-item="HZ_N_ODD" onclick="setNumber('HZ_N_ODD')">
                                        <b class="f-c-red f-s-16">1.95</b>
                                    </td>
                                    <td data-item="HZ_N_ODD" onclick="setNumber('HZ_N_ODD')">
                                        <input class="gb" type="text" name="shuang">
                                    </td>

                                    <td colspan="3"></td>
                                </tr>

                                <tr>
                                    <th data-item="HZ_N_BIGSINGLE" onclick="setNumber('HZ_N_BIGSINGLE')">大单</th>
                                    <td data-item="HZ_N_BIGSINGLE" onclick="setNumber('HZ_N_BIGSINGLE')">
                                        <b class="f-c-red f-s-16">3.3</b>
                                    </td>
                                    <td data-item="HZ_N_BIGSINGLE" onclick="setNumber('HZ_N_BIGSINGLE')">
                                        <input class="gb" type="text" name="dadan">
                                    </td>

                                    <th data-item="HZ_N_BIGODD" onclick="setNumber('HZ_N_BIGODD')">大双</th>
                                    <td data-item="HZ_N_BIGODD" onclick="setNumber('HZ_N_BIGODD')">
                                        <b class="f-c-red f-s-16">4.3</b>
                                    </td>
                                    <td data-item="HZ_N_BIGODD" onclick="setNumber('HZ_N_BIGODD')">
                                        <input class="gb" type="text" name="dashuang">
                                    </td>

                                    <th data-item="HZ_N_SMALLSINGLE" onclick="setNumber('HZ_N_SMALLSINGLE')">小单</th>
                                    <td data-item="HZ_N_SMALLSINGLE" onclick="setNumber('HZ_N_SMALLSINGLE')">
                                        <b class="f-c-red f-s-16">4.3</b>
                                    </td>
                                    <td data-item="HZ_N_SMALLSINGLE" onclick="setNumber('HZ_N_SMALLSINGLE')">
                                        <input class="gb" type="text" name="xiaodan">
                                    </td>

                                    <th data-item="HZ_N_SMALLODD" onclick="setNumber('HZ_N_SMALLODD')">小双</th>
                                    <td data-item="HZ_N_SMALLODD" onclick="setNumber('HZ_N_SMALLODD')">
                                        <b class="f-c-red f-s-16">3.3</b>
                                    </td>
                                    <td data-item="HZ_N_SMALLODD" onclick="setNumber('HZ_N_SMALLODD')">
                                        <input class="gb" type="text" name="xiaoshuang">
                                    </td>
                                    
                                    <td colspan="3"></td>
                                </tr>
                            </thead>
                        </table>
                        <!-- 第三项 -->
                        <table class="h-table" data-name="begin-table" data-key="baozi" cellspacing="0" cellpadding="0" border="0">
                            <thead>
                                <tr>
                                    <th colspan="15">豹子、顺子、杂</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th data-item="BSZ_BZ" onclick="setNumber('BSZ_BZ')">豹子</th>
                                    <td data-item="BSZ_BZ" onclick="setNumber('BSZ_BZ')"><b class="f-c-red f-s-16">30</b></td>
                                    <td data-item="BSZ_BZ" onclick="setNumber('BSZ_BZ')"><input type="text" class="gb" name="baozi"></td>

                                    <th data-item="BSZ_BS" onclick="setNumber('BSZ_BS')">半顺</th>
                                    <td data-item="BSZ_BS" onclick="setNumber('BSZ_BS')"><b class="f-c-red f-s-16">2.5</b></td>
                                    <td data-item="BSZ_BS" onclick="setNumber('BSZ_BS')"><input type="text" class="gb" name="banshun"></td>

                                    <th data-item="BSZ_QS" onclick="setNumber('BSZ_QS')">全顺</th>
                                    <td data-item="BSZ_QS" onclick="setNumber('BSZ_QS')"><b class="f-c-red f-s-16">7.5</b></td>
                                    <td data-item="BSZ_QS" onclick="setNumber('BSZ_QS')"><input type="text" class="gb" name="quanshun"></td>

                                    <th data-item="BSZ_Z" onclick="setNumber('BSZ_Z')">杂</th>
                                    <td data-item="BSZ_Z" onclick="setNumber('BSZ_Z')"><b class="f-c-red f-s-16">7.5</b></td>
                                    <td data-item="BSZ_Z" onclick="setNumber('BSZ_Z')"><input type="text" class="gb" name="za"></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- 第四项 -->
                        <table class="h-table" data-name="begin-table" data-key="kuadu" cellspacing="0" cellpadding="0" border="0">
                            <thead>
                                <tr>
                                    <th colspan="15">跨度</th>
                                </tr>
                                <tr>
                                    <th>号码</th>
                                    <th>赔率</th>
                                    <th>金额</th>
                                    <th>号码</th>
                                    <th>赔率</th>
                                    <th>金额</th>
                                    <th>号码</th>
                                    <th>赔率</th>
                                    <th>金额</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th data-item="KD_N_1" onclick="setNumber('KD_N_1')">1</th>
                                    <td data-item="KD_N_1" onclick="setNumber('KD_N_1')">
                                        <b class="f-c-red f-s-16">6</b>
                                    </td>
                                    <td data-item="KD_N_1" onclick="setNumber('KD_N_1')">
                                        <input class="gb" type="text" name="1">
                                    </td>

                                    <th data-item="KD_N_2" onclick="setNumber('KD_N_2')">2</th>
                                    <td data-item="KD_N_2" onclick="setNumber('KD_N_2')">
                                        <b class="f-c-red f-s-16">3.75</b>
                                    </td>
                                    <td data-item="KD_N_2" onclick="setNumber('KD_N_2')">
                                        <input class="gb" type="text" name="2">
                                    </td>

                                    <th data-item="KD_N_3" onclick="setNumber('KD_N_3')">3</th>
                                    <td data-item="KD_N_3" onclick="setNumber('KD_N_3')">
                                        <b class="f-c-red f-s-16">3.3</b>
                                    </td>
                                    <td data-item="KD_N_3" onclick="setNumber('KD_N_3')">
                                        <input class="gb" type="text" name="3">
                                    </td>
                                </tr>
                                <tr>
                                    <th data-item="KD_N_4" onclick="setNumber('KD_N_4')">4</th>
                                    <td data-item="KD_N_4" onclick="setNumber('KD_N_4')">
                                        <b class="f-c-red f-s-16">3.75</b>
                                    </td>
                                    <td data-item="KD_N_4" onclick="setNumber('KD_N_4')">
                                        <input class="gb" type="text" name="4">
                                    </td>

                                    <th data-item="KD_N_5" onclick="setNumber('KD_N_5')">5</th>
                                    <td data-item="KD_N_5" onclick="setNumber('KD_N_5')">
                                        <b class="f-c-red f-s-16">6</b>
                                    </td>
                                    <td data-item="KD_N_5" onclick="setNumber('KD_N_5')">
                                        <input class="gb" type="text" name="5">
                                    </td>

                                    <td colspan="3"></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- 第五项 -->
                        <table class="h-table" data-name="begin-table" data-key="guoguan" cellspacing="0" cellpadding="0" border="0">
                            <thead>
                                <tr>
                                    <th colspan="15">过关</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th data-item="GG_REDSINGLE" onclick="setNumber('GG_REDSINGLE')">红单</th>
                                    <td data-item="GG_REDSINGLE" onclick="setNumber('GG_REDSINGLE')">
                                        <b class="f-c-red f-s-16">4</b>
                                    </td>
                                    <td data-item="GG_REDSINGLE" onclick="setNumber('GG_REDSINGLE')">
                                        <input class="gb" type="text" name="hongdan">
                                    </td>
                                    <th data-item="GG_YEH" onclick="setNumber('GG_YEH')">红双</th>
                                    <td data-item="GG_YEH" onclick="setNumber('GG_YEH')">
                                        <b class="f-c-red f-s-16">4</b>
                                    </td>
                                    <td data-item="GG_YEH" onclick="setNumber('GG_YEH')">
                                        <input class="gb" type="text" name="hongshuang">
                                    </td>
                                    <th data-item="GG_IFBEU" onclick="setNumber('GG_IFBEU')">红大</th>
                                    <td data-item="GG_IFBEU" onclick="setNumber('GG_IFBEU')">
                                        <b class="f-c-red f-s-16">4</b>
                                    </td>
                                    <td data-item="GG_IFBEU" onclick="setNumber('GG_IFBEU')">
                                        <input class="gb" type="text" name="hongda">
                                    </td>
                                    <th data-item="GG_OGPMEIG" onclick="setNumber('GG_OGPMEIG')">红小</th>
                                    <td data-item="GG_OGPMEIG" onclick="setNumber('GG_OGPMEIG')">
                                        <b class="f-c-red f-s-16">4</b>
                                    </td>
                                    <td data-item="GG_OGPMEIG" onclick="setNumber('GG_OGPMEIG')">
                                        <input class="gb" type="text" name="hongxiao">
                                    </td>
                                </tr>
                                <tr>
                                    <th data-item="GG_IGRMROE" onclick="setNumber('GG_IGRMROE')">黑单</th>
                                    <td data-item="GG_IGRMROE" onclick="setNumber('GG_IGRMROE')">
                                        <b class="f-c-red f-s-16">3</b>
                                    </td>
                                    <td data-item="GG_IGRMROE" onclick="setNumber('GG_IGRMROE')">
                                        <input class="gb" type="text" name="heidan">
                                    </td>
                                    <th data-item="GG_VMVIEPW" onclick="setNumber('GG_VMVIEPW')">黑双</th>
                                    <td data-item="GG_VMVIEPW" onclick="setNumber('GG_VMVIEPW')">
                                        <b class="f-c-red f-s-16">3</b>
                                    </td>
                                    <td data-item="GG_VMVIEPW" onclick="setNumber('GG_VMVIEPW')">
                                        <input class="gb" type="text" name="heishuang">
                                    </td>
                                    <th data-item="GG_NVBIWWW" onclick="setNumber('GG_NVBIWWW')">黑大</th>
                                    <td data-item="GG_NVBIWWW" onclick="setNumber('GG_NVBIWWW')">
                                        <b class="f-c-red f-s-16">3</b>
                                    </td>
                                    <td data-item="GG_NVBIWWW" onclick="setNumber('GG_NVBIWWW')">
                                        <input class="gb" type="text" name="heida">
                                    </td>
                                    <th data-item="GG_PEOWNVV" onclick="setNumber('GG_PEOWNVV')">黑小</th>
                                    <td data-item="GG_PEOWNVV" onclick="setNumber('GG_PEOWNVV')">
                                        <b class="f-c-red f-s-16">3</b>
                                    </td>
                                    <td data-item="GG_PEOWNVV" onclick="setNumber('GG_PEOWNVV')">
                                        <input class="gb" type="text" name="heixiao">
                                    </td>
                                </tr>
                                <tr>
                                    <th data-item="GG_OOOOOEWW" onclick="setNumber('GG_OOOOOEWW')">黑码</th>
                                    <td data-item="GG_OOOOOEWW" onclick="setNumber('GG_OOOOOEWW')">
                                        <b class="f-c-red f-s-16">1.5</b>
                                    </td>
                                    <td data-item="GG_OOOOOEWW" onclick="setNumber('GG_OOOOOEWW')">
                                        <input class="gb" type="text" name="heima">
                                    </td>
                                    <th data-item="GG_OP" onclick="setNumber('GG_OP')"><span class="f-c-red">红码</span></th>
                                    <td data-item="GG_OP" onclick="setNumber('GG_OP')">
                                        <b class="f-c-red f-s-16">2</b>
                                    </td>
                                    <td data-item="GG_OP" onclick="setNumber('GG_OP')">
                                        <input class="gb" type="text" name="hongma">
                                    </td>
                                    
                                    <td colspan="6"></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- 第六项 -->
                        <table class="h-table" data-key="hongheima" cellspacing="0" cellpadding="0" border="0">
                            <thead>
                                <tr>
                                    <th>玩法</th>
                                    <th colspan="6">红黑码</th>
                                    <th>赔率</th>
                                    <th>金额</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="simahei">
                                    <th>4码黑</th>
                                    <td class="bg"><input type="checkbox" name="1">1</td>
                                    <td class="bg"><input type="checkbox" name="2">2</td>
                                    <td class="bg"><input type="checkbox" name="3">3</td>
                                    <td class="bg"><input type="checkbox" name="4">4</td>
                                    <td class="bg"><input type="checkbox" name="5">5</td>
                                    <td class="bg"><input type="checkbox" name="6">6</td>
                                    <td data-item="GG_UUIGMS" onclick="setNumber('GG_UUIGMS')"><b class="f-s-16 f-c-red">6</b></td>
                                    <td data-item="GG_UUIGMS" onclick="setNumber('GG_UUIGMS')"><input type="text" class="gb" name="4mahei"></td>
                                </tr>
                                <tr id="simahong">
                                    <th><span class="f-c-red">4码红</span></th>
                                    <td class="bg f-c-red"><input type="checkbox" name="1">1</td>
                                    <td class="bg f-c-red"><input type="checkbox" name="2">2</td>
                                    <td class="bg f-c-red"><input type="checkbox" name="3">3</td>
                                    <td class="bg f-c-red"><input type="checkbox" name="4">4</td>
                                    <td class="bg f-c-red"><input type="checkbox" name="5">5</td>
                                    <td class="bg f-c-red"><input type="checkbox" name="6">6</td>
                                    <td data-item="GG_QWERT" onclick="setNumber('GG_QWERT')"><b class="f-s-16 f-c-red">5.5</b></td>
                                    <td data-item="GG_QWERT" onclick="setNumber('GG_QWERT')"><input type="text" class="gb" name="4mahong"></td>
                                </tr>
                                <tr id="wumahei">
                                    <th>5码黑</th>
                                    <td class="bg"><input type="checkbox" name="1">1</td>
                                    <td class="bg"><input type="checkbox" name="2">2</td>
                                    <td class="bg"><input type="checkbox" name="3">3</td>
                                    <td class="bg"><input type="checkbox" name="4">4</td>
                                    <td class="bg"><input type="checkbox" name="5">5</td>
                                    <td class="bg"><input type="checkbox" name="6">6</td>
                                    <td data-item="GG_POIUTM" onclick="setNumber('GG_POIUTM')"><b class="f-s-16 f-c-red">2.5</b></td>
                                    <td data-item="GG_POIUTM" onclick="setNumber('GG_POIUTM')"><input type="text" class="gb" name="5mahei"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="form-assect">
                            <span class="f-c-green m-r-5"><b>金额</b></span>
                            <span class="f-c-red m-r-5"><b class="moneyTotal">0</b></span>
                            <span class="m-r-5"><b>快速输入</b></span>
                            <input type="text" class="m-r-15 quickImport">
                            <span class="h-btn btn-red m-r-5 submit">确认</span>
                            <span class="h-btn m-r-5">重置</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="__STATIC__/js/jquery-2.1.4.min.js"></script>
<script src="/static/js/global.js"></script>
<script src="/static/js/vue.min.js"></script>
<script src="/static/game/js/jlk3.js"></script>
</html>