<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>结算账户</title>
    <link rel="stylesheet" href="__STATIC__/style/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/style/public.css">
    <link rel="stylesheet" href="__STATIC__/style/modal.css">
    <link rel="stylesheet" href="__STATIC__/game/style/jlk3-2.css">
</head>

<body>
    <div class="layout">
        {include file="public/head"}
        <!-- 控制内容宽度 （userInfo -> 左侧显示user） -->
        <div class="main" id="main">
            <!-- 左侧人物信息 -->
            {include file="public/slidebar"}
            <!-- 右侧内容信息 -->
            <div v-if="tabContent == 1" class="layout-body" id="layoutBody">
                <!-- 上部分 -->
                <div class="page-content-title">
                    <span>第</span>
                    <strong class="f-c-red">{{periods}}</strong>
                    <span>开奖号码</span>
                    <span v-for="(item,index) in periods_number" class="color-game" :class="'color' + item">{{item}}</span>
                </div>
                <!-- 切换 -->
                <div class="clear-float select-wrapper">
                    <strong class="sub-title m-r-15">投注类型</strong>
                    <div @click="tab=0" class="select-item m-r-5" :class="(tab==0) ? 'active' : ''">一般</div>
                    <div @click="tab=1" class="select-item" :class="(tab==1) ? 'active' : ''">游戏规则</div>
                </div>
                <div class="portlet">
                    <div class="portlet-title clear-float">
                        <span>吉林快3&nbsp;&nbsp;</span>
                        <select @change="levelChange" v-model="levelValue" class="form-control changeGame">
                            <option v-for="(item, index) in level" :value="item.url">{{item.name}}</option>
                        </select>
                        <span class="m-l-30">第<b class="f-c-red">{{nowPeriods}}</b>期</span>
                        <span class="m-l-30">投注时间：<b class="f-c-red">{{count_down}}</b></span>
                        <span class="m-l-30">停盘时间：<b>{{close_time}}</b></span>
                        <div class="fast-import pull-right">
                            <span>快速输入&nbsp;</span>
                            <input type="text" class="form-control m-r-15 quickImport" v-model="quickImport">
                            <a href="javascript:history.go(0);" class="h-btn btn-red">重新整理</a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div v-show="tab == 0" class="lobby">
                            <!-- 第一项 -->
                            <table class="h-table" data-name="begin-table" cellspacing="0" cellpadding="0" border="0">
                                <thead>
                                    <tr>
                                        <th colspan="100">三同号单选</th>
                                    </tr>
                                    <tr>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                    </tr>
                                    <tr>
                                        <th data-item="Q123" onclick="setNumber('Q123')">111</th>
                                        <td data-item="Q123" onclick="setNumber('Q123')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="Q123" onclick="setNumber('Q123')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="Q234" onclick="setNumber('Q234')">222</th>
                                        <td data-item="Q234" onclick="setNumber('Q234')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="Q234" onclick="setNumber('Q234')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="Q345" onclick="setNumber('Q345')">333</th>
                                        <td data-item="Q345" onclick="setNumber('Q345')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="Q345" onclick="setNumber('Q345')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="Q456" onclick="setNumber('Q456')">444</th>
                                        <td data-item="Q456" onclick="setNumber('Q456')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="Q456" onclick="setNumber('Q456')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="Q567" onclick="setNumber('Q567')">555</th>
                                        <td data-item="Q567" onclick="setNumber('Q567')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="Q567" onclick="setNumber('Q567')">
                                            <input type="text" class="gb">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th data-item="Q678" onclick="setNumber('Q678')">666</th>
                                        <td data-item="Q678" onclick="setNumber('Q678')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="Q678" onclick="setNumber('Q678')">
                                            <input type="text" class="gb">
                                        </td>
                                        <td colspan="12"></td>
                                    </tr>
                                </thead>
                            </table>
                            <!-- 第二项 -->
                            <table class="h-table" data-name="begin-table" cellspacing="0" cellpadding="0" border="0">
                                <thead>
                                    <tr>
                                        <th colspan="100">三同号复选</th>
                                    </tr>
                                    <tr>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                    </tr>
                                    <tr>
                                        <th data-item="W123" onclick="setNumber('W123')">11</th>
                                        <td data-item="W123" onclick="setNumber('W123')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="W123" onclick="setNumber('W123')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="W234" onclick="setNumber('W234')">22</th>
                                        <td data-item="W234" onclick="setNumber('W234')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="W234" onclick="setNumber('W234')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="W345" onclick="setNumber('W345')">33</th>
                                        <td data-item="W345" onclick="setNumber('W345')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="W345" onclick="setNumber('W345')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="W456" onclick="setNumber('W456')">44</th>
                                        <td data-item="W456" onclick="setNumber('W456')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="W456" onclick="setNumber('W456')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="W567" onclick="setNumber('W567')">55</th>
                                        <td data-item="W567" onclick="setNumber('W567')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="W567" onclick="setNumber('W567')">
                                            <input type="text" class="gb">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th data-item="W678" onclick="setNumber('W678')">66</th>
                                        <td data-item="W678" onclick="setNumber('W678')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="W678" onclick="setNumber('W678')">
                                            <input type="text" class="gb">
                                        </td>
                                        <td colspan="12"></td>
                                    </tr>
                                </thead>
                            </table>
                            <!-- 第三项 -->
                            <table class="h-table" data-name="begin-table" cellspacing="0" cellpadding="0" border="0">
                                <thead>
                                    <tr>
                                        <th colspan="100">二同号单选</th>
                                    </tr>
                                    <tr>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                    </tr>
                                    <tr>
                                        <th data-item="QWER" onclick="setNumber('QWER')">112</th>
                                        <td data-item="QWER" onclick="setNumber('QWER')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="QWER" onclick="setNumber('QWER')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="WERT" onclick="setNumber('WERT')">113</th>
                                        <td data-item="WERT" onclick="setNumber('WERT')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="WERT" onclick="setNumber('WERT')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="ERTY" onclick="setNumber('ERTY')">114</th>
                                        <td data-item="ERTY" onclick="setNumber('ERTY')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="ERTY" onclick="setNumber('ERTY')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="RTYU" onclick="setNumber('RTYU')">115</th>
                                        <td data-item="RTYU" onclick="setNumber('RTYU')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="RTYU" onclick="setNumber('RTYU')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="QQQWE" onclick="setNumber('QQQWE')">116</th>
                                        <td data-item="QQQWE" onclick="setNumber('QQQWE')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="QQQWE" onclick="setNumber('QQQWE')">
                                            <input type="text" class="gb">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th data-item="WFQW" onclick="setNumber('WFQW')">122</th>
                                        <td data-item="WFQW" onclick="setNumber('WFQW')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="WFQW" onclick="setNumber('WFQW')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="XZCVCV" onclick="setNumber('XZCVCV')">133</th>
                                        <td data-item="XZCVCV" onclick="setNumber('XZCVCV')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="XZCVCV" onclick="setNumber('XZCVCV')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="HGJHF" onclick="setNumber('HGJHF')">144</th>
                                        <td data-item="HGJHF" onclick="setNumber('HGJHF')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="HGJHF" onclick="setNumber('HGJHF')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="QEBGT" onclick="setNumber('QEBGT')">155</th>
                                        <td data-item="QEBGT" onclick="setNumber('QEBGT')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="QEBGT" onclick="setNumber('QEBGT')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="UYTF" onclick="setNumber('UYTF')">166</th>
                                        <td data-item="UYTF" onclick="setNumber('UYTF')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="UYTF" onclick="setNumber('UYTF')">
                                            <input type="text" class="gb">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th data-item="BVSER" onclick="setNumber('BVSER')">223</th>
                                        <td data-item="BVSER" onclick="setNumber('BVSER')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="BVSER" onclick="setNumber('BVSER')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="YNFYTY" onclick="setNumber('YNFYTY')">224</th>
                                        <td data-item="YNFYTY" onclick="setNumber('YNFYTY')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="YNFYTY" onclick="setNumber('YNFYTY')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="AVDE" onclick="setNumber('AVDE')">225</th>
                                        <td data-item="AVDE" onclick="setNumber('AVDE')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="AVDE" onclick="setNumber('AVDE')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="NMTT" onclick="setNumber('NMTT')">226</th>
                                        <td data-item="NMTT" onclick="setNumber('NMTT')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="NMTT" onclick="setNumber('NMTT')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="EEDD" onclick="setNumber('EEDD')">233</th>
                                        <td data-item="EEDD" onclick="setNumber('EEDD')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="EEDD" onclick="setNumber('EEDD')">
                                            <input type="text" class="gb">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th data-item="ZXZA" onclick="setNumber('ZXZA')">244</th>
                                        <td data-item="ZXZA" onclick="setNumber('ZXZA')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="ZXZA" onclick="setNumber('ZXZA')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="NNBT" onclick="setNumber('NNBT')">255</th>
                                        <td data-item="NNBT" onclick="setNumber('NNBT')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="NNBT" onclick="setNumber('NNBT')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="TYASK" onclick="setNumber('TYASK')">266</th>
                                        <td data-item="TYASK" onclick="setNumber('TYASK')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="TYASK" onclick="setNumber('TYASK')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="LLILK" onclick="setNumber('LLILK')">334</th>
                                        <td data-item="LLILK" onclick="setNumber('LLILK')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="LLILK" onclick="setNumber('LLILK')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="IEHF" onclick="setNumber('IEHF')">335</th>
                                        <td data-item="IEHF" onclick="setNumber('IEHF')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="IEHF" onclick="setNumber('IEHF')">
                                            <input type="text" class="gb">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th data-item="WEOP" onclick="setNumber('WEOP')">336</th>
                                        <td data-item="WEOP" onclick="setNumber('WEOP')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="WEOP" onclick="setNumber('WEOP')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="POAVN" onclick="setNumber('POAVN')">344</th>
                                        <td data-item="POAVN" onclick="setNumber('POAVN')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="POAVN" onclick="setNumber('POAVN')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="PEMVIE" onclick="setNumber('PEMVIE')">355</th>
                                        <td data-item="PEMVIE" onclick="setNumber('PEMVIE')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="PEMVIE" onclick="setNumber('PEMVIE')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="PERVEA" onclick="setNumber('PERVEA')">366</th>
                                        <td data-item="PERVEA" onclick="setNumber('PERVEA')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="PERVEA" onclick="setNumber('PERVEA')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="INISTER" onclick="setNumber('INISTER')">445</th>
                                        <td data-item="INISTER" onclick="setNumber('INISTER')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="INISTER" onclick="setNumber('INISTER')">
                                            <input type="text" class="gb">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th data-item="DU3J" onclick="setNumber('DU3J')">446</th>
                                        <td data-item="DU3J" onclick="setNumber('DU3J')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="DU3J" onclick="setNumber('DU3J')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="39FJ9" onclick="setNumber('39FJ9')">455</th>
                                        <td data-item="39FJ9" onclick="setNumber('39FJ9')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="39FJ9" onclick="setNumber('39FJ9')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="P31JV" onclick="setNumber('P31JV')">466</th>
                                        <td data-item="P31JV" onclick="setNumber('P31JV')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="P31JV" onclick="setNumber('P31JV')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="Q33DE" onclick="setNumber('Q33DE')">556</th>
                                        <td data-item="Q33DE" onclick="setNumber('Q33DE')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="Q33DE" onclick="setNumber('Q33DE')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="VANT4T" onclick="setNumber('VANT4T')">566</th>
                                        <td data-item="VANT4T" onclick="setNumber('VANT4T')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="VANT4T" onclick="setNumber('VANT4T')">
                                            <input type="text" class="gb">
                                        </td>
                                    </tr>
                                </thead>
                            </table>
                            <!-- 第四项 -->
                            <table class="h-table" data-name="begin-table" cellspacing="0" cellpadding="0" border="0">
                                <thead>
                                    <tr>
                                        <th colspan="100">三不同号</th>
                                    </tr>
                                    <tr>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                    </tr>
                                    <tr>
                                        <th data-item="MMMIE" onclick="setNumber('MMMIE')">123</th>
                                        <td data-item="MMMIE" onclick="setNumber('MMMIE')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="MMMIE" onclick="setNumber('MMMIE')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="M90289F" onclick="setNumber('M90289F')">124</th>
                                        <td data-item="M90289F" onclick="setNumber('M90289F')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="M90289F" onclick="setNumber('M90289F')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="M23NF9" onclick="setNumber('M23NF9')">125</th>
                                        <td data-item="M23NF9" onclick="setNumber('M23NF9')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="M23NF9" onclick="setNumber('M23NF9')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="H87G4" onclick="setNumber('H87G4')">126</th>
                                        <td data-item="H87G4" onclick="setNumber('H87G4')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="H87G4" onclick="setNumber('H87G4')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="W0J33" onclick="setNumber('W0J33')">134</th>
                                        <td data-item="W0J33" onclick="setNumber('W0J33')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="W0J33" onclick="setNumber('W0J33')">
                                            <input type="text" class="gb">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th data-item="JOIFFJ0" onclick="setNumber('JOIFFJ0')">135</th>
                                        <td data-item="JOIFFJ0" onclick="setNumber('JOIFFJ0')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="JOIFFJ0" onclick="setNumber('JOIFFJ0')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="21HF92" onclick="setNumber('21HF92')">136</th>
                                        <td data-item="21HF92" onclick="setNumber('21HF92')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="21HF92" onclick="setNumber('21HF92')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="1228QC1" onclick="setNumber('1228QC1')">145</th>
                                        <td data-item="1228QC1" onclick="setNumber('1228QC1')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="1228QC1" onclick="setNumber('1228QC1')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="R98WV4V4W" onclick="setNumber('R98WV4V4W')">146</th>
                                        <td data-item="R98WV4V4W" onclick="setNumber('R98WV4V4W')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="R98WV4V4W" onclick="setNumber('R98WV4V4W')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="Q84C23" onclick="setNumber('Q84C23')">156</th>
                                        <td data-item="Q84C23" onclick="setNumber('Q84C23')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="Q84C23" onclick="setNumber('Q84C23')">
                                            <input type="text" class="gb">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th data-item="444RTY" onclick="setNumber('444RTY')">234</th>
                                        <td data-item="444RTY" onclick="setNumber('444RTY')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="444RTY" onclick="setNumber('444RTY')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="YUIHUER" onclick="setNumber('YUIHUER')">235</th>
                                        <td data-item="YUIHUER" onclick="setNumber('YUIHUER')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="YUIHUER" onclick="setNumber('YUIHUER')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="Y783F3" onclick="setNumber('Y783F3')">236</th>
                                        <td data-item="Y783F3" onclick="setNumber('Y783F3')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="Y783F3" onclick="setNumber('Y783F3')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="378Y348" onclick="setNumber('378Y348')">245</th>
                                        <td data-item="378Y348" onclick="setNumber('378Y348')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="378Y348" onclick="setNumber('378Y348')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="Y78HVEW" onclick="setNumber('Y78HVEW')">246</th>
                                        <td data-item="Y78HVEW" onclick="setNumber('Y78HVEW')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="Y78HVEW" onclick="setNumber('Y78HVEW')">
                                            <input type="text" class="gb">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th data-item="QOJCORQE" onclick="setNumber('QOJCORQE')">256</th>
                                        <td data-item="QOJCORQE" onclick="setNumber('QOJCORQE')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="QOJCORQE" onclick="setNumber('QOJCORQE')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="QKMOICJN9" onclick="setNumber('QKMOICJN9')">345</th>
                                        <td data-item="QKMOICJN9" onclick="setNumber('QKMOICJN9')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="QKMOICJN9" onclick="setNumber('QKMOICJN9')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="NVIUBW" onclick="setNumber('NVIUBW')">346</th>
                                        <td data-item="NVIUBW" onclick="setNumber('NVIUBW')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="NVIUBW" onclick="setNumber('NVIUBW')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="09J9ER" onclick="setNumber('09J9ER')">356</th>
                                        <td data-item="09J9ER" onclick="setNumber('09J9ER')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="09J9ER" onclick="setNumber('09J9ER')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="NUTTERTOOLS" onclick="setNumber('NUTTERTOOLS')">456</th>
                                        <td data-item="NUTTERTOOLS" onclick="setNumber('NUTTERTOOLS')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="NUTTERTOOLS" onclick="setNumber('NUTTERTOOLS')">
                                            <input type="text" class="gb">
                                        </td>
                                    </tr>
                                </thead>
                            </table>
                            <!-- 第五项 -->
                            <table class="h-table" data-name="begin-table" cellspacing="0" cellpadding="0" border="0">
                                <thead>
                                    <tr>
                                        <th colspan="100">二不同号</th>
                                    </tr>
                                    <tr>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                    </tr>
                                    <tr>
                                        <th data-item="S_SFO3" onclick="setNumber('S_SFO3')">12</th>
                                        <td data-item="S_SFO3" onclick="setNumber('S_SFO3')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="S_SFO3" onclick="setNumber('S_SFO3')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="I_JFO98" onclick="setNumber('I_JFO98')">13</th>
                                        <td data-item="I_JFO98" onclick="setNumber('I_JFO98')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="I_JFO98" onclick="setNumber('I_JFO98')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="NVUR_D" onclick="setNumber('NVUR_D')">14</th>
                                        <td data-item="NVUR_D" onclick="setNumber('NVUR_D')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="NVUR_D" onclick="setNumber('NVUR_D')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="MDIM0_JSAO" onclick="setNumber('MDIM0_JSAO')">15</th>
                                        <td data-item="MDIM0_JSAO" onclick="setNumber('MDIM0_JSAO')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="MDIM0_JSAO" onclick="setNumber('MDIM0_JSAO')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="lOIEW_D" onclick="setNumber('lOIEW_D')">16</th>
                                        <td data-item="lOIEW_D" onclick="setNumber('lOIEW_D')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="lOIEW_D" onclick="setNumber('lOIEW_D')">
                                            <input type="text" class="gb">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th data-item="DFUIOHE" onclick="setNumber('DFUIOHE')">23</th>
                                        <td data-item="DFUIOHE" onclick="setNumber('DFUIOHE')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="DFUIOHE" onclick="setNumber('DFUIOHE')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="TYTY_98" onclick="setNumber('TYTY_98')">24</th>
                                        <td data-item="TYTY_98" onclick="setNumber('TYTY_98')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="TYTY_98" onclick="setNumber('TYTY_98')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="IDI_NU" onclick="setNumber('IDI_NU')">25</th>
                                        <td data-item="IDI_NU" onclick="setNumber('IDI_NU')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="IDI_NU" onclick="setNumber('IDI_NU')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="DSMIBN" onclick="setNumber('DSMIBN')">26</th>
                                        <td data-item="DSMIBN" onclick="setNumber('DSMIBN')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="DSMIBN" onclick="setNumber('DSMIBN')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="SDFOI3" onclick="setNumber('SDFOI3')">34</th>
                                        <td data-item="SDFOI3" onclick="setNumber('SDFOI3')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="SDFOI3" onclick="setNumber('SDFOI3')">
                                            <input type="text" class="gb">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th data-item="SJFIOE" onclick="setNumber('SJFIOE')">35</th>
                                        <td data-item="SJFIOE" onclick="setNumber('SJFIOE')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="SJFIOE" onclick="setNumber('SJFIOE')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="PIEE_D" onclick="setNumber('PIEE_D')">36</th>
                                        <td data-item="PIEE_D" onclick="setNumber('PIEE_D')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="PIEE_D" onclick="setNumber('PIEE_D')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="DJFONVB" onclick="setNumber('DJFONVB')">45</th>
                                        <td data-item="DJFONVB" onclick="setNumber('DJFONVB')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="DJFONVB" onclick="setNumber('DJFONVB')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="FIJIR_D" onclick="setNumber('FIJIR_D')">46</th>
                                        <td data-item="FIJIR_D" onclick="setNumber('FIJIR_D')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="FIJIR_D" onclick="setNumber('FIJIR_D')">
                                            <input type="text" class="gb">
                                        </td>

                                        <th data-item="KOJF" onclick="setNumber('KOJF')">56</th>
                                        <td data-item="KOJF" onclick="setNumber('KOJF')">
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td data-item="KOJF" onclick="setNumber('KOJF')">
                                            <input type="text" class="gb">
                                        </td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <!-- 游戏规则 -->
                        <div v-show="tab == 1" class="rule">
                            <div class="rule-content rule-k3">
                                <h1>吉林快3</h1>
                                <div class="ex-text">
                                    吉林快三是依照中国福利彩票管理中心组织，吉林省福利彩票销售机构中心发行的吉林快3的开奖结果为派彩依据，该游戏投注时间、开奖时间和开奖号码与吉林省福利彩票机构完全同步，<span
                                        class="f-c-red">北京时间(GMT+8)每天上午8:20至晚上9:40，每20分钟一场，共40期。</span>假设开奖结果为123，那么佰位是1，拾位是2，个位是3。(每个位数在开奖时从1~6中摇出一个结果)选号玩法
                                </div>
                                <h2>游戏规则说明</h2>
                                <table class="h-table" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td class="tit" rowspan="3" width="122"><span class="mark">和值</span></td>
                                            <td width="736"><span class="mark2 spacing">和值 :</span>
                                                开奖结果佰拾个三位数的总和值与投注佰拾个数字的总和值相同时，即为中奖。</td>
                                        </tr>
                                        <tr>
                                            <td><span class="mark2 spacing">和值大小 :</span> 3~10为小，11~18为大。</td>
                                        </tr>
                                        <tr>
                                            <td><span class="mark2 spacing">和值单双 :</span>
                                                3、5、7、9、11、13、15为单，4、6、8、10、12、14、16、18为双。</td>
                                        </tr>
                                        <tr>
                                            <td class="tit"><span class="mark">三同号通选</span></td>
                                            <td>对所有三同号进行投注，开奖号码为任意三同号(111、222、333、444、555、666) 即中奖</td>
                                        </tr>
                                        <tr>
                                            <td class="tit"><span class="mark">三同号单选</span></td>
                                            <td>从三同号(111、222、333、444、555、666)中任选一个进行投注，开奖号码为此三同号即中奖。</td>
                                        </tr>
                                        <tr>
                                            <td class="tit"><span class="mark">二同号复选</span></td>
                                            <td>开奖号码中的二同号数字(即对子号码)，非对子不中奖。</td>
                                        </tr>
                                        <tr>
                                            <td class="tit"><span class="mark">二同号单选</span></td>
                                            <td>开奖号码中的二同号数字(即对子号码)，和不同号的数字。</td>
                                        </tr>
                                        <tr>
                                            <td class="tit"><span class="mark">三不同号</span></td>
                                            <td>三不同号事指开奖号码的三个数子都不相同，竟猜这三个数字，猜对即中奖。</td>
                                        </tr>
                                        <tr>
                                            <td class="tit"><span class="mark">二不同号</span></td>
                                            <td>选择两个号码进行投注，开奖号码中包含这两个号码即中奖。</td>
                                        </tr>
                                        <tr>
                                            <td class="tit"><span class="mark">三连号通选</span></td>
                                            <td>对所有三连号进行投注，开奖号码为任意三连号(123、234、345、456)
                                                即中奖。</td>
                                        </tr>
                                        <tr>
                                            <td class="tit"><span class="mark">半顺、全顺、杂</span></td>
                                            <td>半顺、全顺、杂是针对黑码的玩法（开出红码和三同号不中奖），投注半顺玩法开出全顺号码不中奖。</td>
                                        </tr>
                                        <tr>
                                            <td class="tit"><span class="mark">跨度</span></td>
                                            <td>跨度为开出奖号的最大数与最小数值差值为跨度。</td>
                                        </tr>
                                        <tr>
                                            <td class="tit"><span class="mark">四码黑、四码红、五码黑</span></td>
                                            <td>四码黑是投注四个号码，开出奖号的三个不同号码全部在投注号码当中视为中奖。<br>四码红是投注四个号码，开奖号为红号并且两个不同的号码在投注号码当中视为中奖。<br>
                                                五码黑是投注五个号码，开出奖号的三个不同号码全部在投注号码当中视为中奖。<br>

                                            </td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-assect">
                            <span class="f-c-green m-r-5"><b>金额</b></span>
                            <span class="f-c-red m-r-5"><b class="moneyTotal">0</b></span>
                            <span class="m-r-5"><b>快速输入</b></span>
                            <input type="text" class="m-r-15 quickImport" v-model="quickImport">
                            <span class="h-btn btn-red m-r-5 submit">确认</span>
                            <a href="javascript: history.go(0);" class="h-btn m-r-5">重置</a>
                        </div>
                    </div>
                </div>
            </div>
            <div v-else-if="tabContent == 0" class="layout-body">
                <div class="loadBox">
                    <h4><span>吉林快3</span>&nbsp;&nbsp;&nbsp;下一期:&nbsp;&nbsp;&nbsp;<span style="color:#27AD9C;">{{nowPeriods}}</span>&nbsp;&nbsp;&nbsp;开盘时间:&nbsp;&nbsp;&nbsp;<span style="color:#27AD9C;">{{close_time}}</span></h4>
                    <h4>距离开盘时间还有:&nbsp;&nbsp;<span style="color:#27AD9C;">{{count_down}}</span></h4>
                </div> 
            </div>

        </div>
    </div>
    <!-- 确认投注 -->
    <div class="h-modal" id="confirmModal" data-width="450">
        <div class="h-modal-title">
            <h5>下注内容</h5>
            <span class="h-modal-close" data-methods="close">&times;</span>
        </div>
        <div class="h-modal-body">
            <div class="m-b-10">您下注的是&nbsp;[ <b>吉林快3</b> ]&nbsp;[ <b>A盘</b> ]</div>
            <table class="h-table" cellspacing="0" cellpadding="0" border="0" style="border-top: 1px solid #ddd">
                <thead>
                    <tr>
                        <th>下注方式</th>
                        <th>下注内容</th>
                        <th>赔率</th>
                        <th>下注金额</th>
                        <th>状态</th>
                    </tr>
                </thead>
                <tbody class="confirmTbody"></tbody>
            </table>
            <div class="m-t-10">共&nbsp;<b class="table-length"></b>&nbsp;注&nbsp;&nbsp;合计：<b class="moneyTotal"></b></div>
        </div>
        <div class="h-modal-footer">
            <span class="h-modal-button submit" data-methods="submit">确认下注</span>
            <span class="h-modal-button cancel" data-methods="close">取消</span>
        </div>
    </div>
</body>
<script src="__STATIC__/js/jquery-2.1.4.min.js"></script>
<script src="/static/js/vue.min.js"></script>
<script src="/static/js/global.js"></script>
<script src="/static/js/modal.js"></script>
<script src="/static/game/js/jlk3-2.js"></script>
</html>