<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>结算账户</title>
    <link rel="stylesheet" href="__STATIC__/style/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/style/public.css">
    <link rel="stylesheet" href="__STATIC__/style/modal.css">
    <link rel="stylesheet" href="__STATIC__/game/style/jlk3-2.css">
</head>

<body>
    <div class="layout">
        {include file="public/head"}
        <!-- 控制内容宽度 （userInfo -> 左侧显示user） -->
        <div class="main" id="main">
            <!-- 左侧人物信息 -->
            {include file="public/slidebar"}
            <!-- 右侧内容信息 -->
            <div v-if="tabContent == 1" class="layout-body" id="layoutBody">
                <!-- 上部分 -->
                <div class="page-content-title">
                    <span>第</span>
                    <strong class="f-c-red">{{periods}}</strong>
                    <span>开奖号码</span>
                    <span v-for="(item,index) in periods_number" class="color-game" :class="'color' + item">{{item}}</span>
                </div>
                <!-- 切换 -->
                <div class="clear-float select-wrapper">
                    <strong class="sub-title m-r-15">投注类型</strong>
                    <div @click="tab=0" class="select-item m-r-5" :class="(tab==0) ? 'active' : ''">一般</div>
                    <div @click="tab=1" class="select-item" :class="(tab==1) ? 'active' : ''">游戏规则</div>
                </div>
                <div class="portlet">
                    <div class="portlet-title clear-float">
                        <span>吉林快3&nbsp;&nbsp;</span>
                        <select @change="levelChange" v-model="levelValue" class="form-control changeGame">
                            <option v-for="(item, index) in level" :value="item.url">{{item.name}}</option>
                        </select>
                        <span class="m-l-30">第<b class="f-c-red">{{nowPeriods}}</b>期</span>
                        <span class="m-l-30">投注时间：<b class="f-c-red">{{count_down}}</b></span>
                        <span class="m-l-30">停盘时间：<b>{{close_time}}</b></span>
                        <div class="fast-import pull-right">
                            <span>快速输入&nbsp;</span>
                            <input type="text" class="form-control m-r-15 quickImport" v-model="quickImport">
                            <a href="javascript:history.go(0);" class="h-btn btn-red">重新整理</a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div v-show="tab == 0" class="lobby">
                            <!-- 第一项 -->
                            <table class="h-table" cellspacing="0" cellpadding="0" border="0">
                                <thead>
                                    <tr>
                                        <th colspan="100">三同号单选</th>
                                    </tr>
                                    <tr>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                    </tr>
                                    <tr>
                                        <th>111</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>222</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>333</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>444</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>555</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>666</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>
                                        <td colspan="12"></td>
                                    </tr>
                                </thead>
                            </table>
                            <!-- 第二项 -->
                            <table class="h-table" cellspacing="0" cellpadding="0" border="0">
                                <thead>
                                    <tr>
                                        <th colspan="100">三同号复选</th>
                                    </tr>
                                    <tr>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                    </tr>
                                    <tr>
                                        <th>11</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>22</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>33</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>44</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>55</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>66</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>
                                        <td colspan="12"></td>
                                    </tr>
                                </thead>
                            </table>
                            <!-- 第三项 -->
                            <table class="h-table" cellspacing="0" cellpadding="0" border="0">
                                <thead>
                                    <tr>
                                        <th colspan="100">二同号单选</th>
                                    </tr>
                                    <tr>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                    </tr>
                                    <tr>
                                        <th>112</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>113</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>114</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>115</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>116</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>122</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>133</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>144</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>155</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>166</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>223</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>224</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>225</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>226</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>233</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>244</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>255</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>266</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>334</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>335</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>336</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>344</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>355</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>366</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>445</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>446</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>455</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>466</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>556</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>566</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>
                                    </tr>
                                </thead>
                            </table>
                            <!-- 第四项 -->
                            <table class="h-table" cellspacing="0" cellpadding="0" border="0">
                                <thead>
                                    <tr>
                                        <th colspan="100">三不同号</th>
                                    </tr>
                                    <tr>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                    </tr>
                                    <tr>
                                        <th>123</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>124</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>125</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>126</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>134</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>135</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>136</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>145</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>146</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>156</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>234</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>235</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>236</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>245</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>246</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>256</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>345</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>346</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>356</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>456</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>
                                    </tr>
                                </thead>
                            </table>
                            <!-- 第五项 -->
                            <table class="h-table" cellspacing="0" cellpadding="0" border="0">
                                <thead>
                                    <tr>
                                        <th colspan="100">二不同号</th>
                                    </tr>
                                    <tr>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                        <th>号码</th>
                                        <th>赔率</th>
                                        <th>金额</th>
                                    </tr>
                                    <tr>
                                        <th>12</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>13</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>14</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>15</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>16</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>23</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>24</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>25</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>26</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>34</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>35</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>36</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>45</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>46</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>

                                        <th>56</th>
                                        <td>
                                            <b class="f-c-red f-s-16">181</b>
                                        </td>
                                        <td>
                                            <input type="text" class="gb">
                                        </td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <!-- 游戏规则 -->
                        <div v-show="tab == 1" class="rule">
                            <div class="rule-content rule-k3">
                                <h1>吉林快3</h1>
                                <div class="ex-text">
                                    吉林快三是依照中国福利彩票管理中心组织，吉林省福利彩票销售机构中心发行的吉林快3的开奖结果为派彩依据，该游戏投注时间、开奖时间和开奖号码与吉林省福利彩票机构完全同步，<span
                                        class="f-c-red">北京时间(GMT+8)每天上午8:20至晚上9:40，每20分钟一场，共40期。</span>假设开奖结果为123，那么佰位是1，拾位是2，个位是3。(每个位数在开奖时从1~6中摇出一个结果)选号玩法
                                </div>
                                <h2>游戏规则说明</h2>
                                <table class="h-table" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td class="tit" rowspan="3" width="122"><span class="mark">和值</span></td>
                                            <td width="736"><span class="mark2 spacing">和值 :</span>
                                                开奖结果佰拾个三位数的总和值与投注佰拾个数字的总和值相同时，即为中奖。</td>
                                        </tr>
                                        <tr>
                                            <td><span class="mark2 spacing">和值大小 :</span> 3~10为小，11~18为大。</td>
                                        </tr>
                                        <tr>
                                            <td><span class="mark2 spacing">和值单双 :</span>
                                                3、5、7、9、11、13、15为单，4、6、8、10、12、14、16、18为双。</td>
                                        </tr>
                                        <tr>
                                            <td class="tit"><span class="mark">三同号通选</span></td>
                                            <td>对所有三同号进行投注，开奖号码为任意三同号(111、222、333、444、555、666) 即中奖</td>
                                        </tr>
                                        <tr>
                                            <td class="tit"><span class="mark">三同号单选</span></td>
                                            <td>从三同号(111、222、333、444、555、666)中任选一个进行投注，开奖号码为此三同号即中奖。</td>
                                        </tr>
                                        <tr>
                                            <td class="tit"><span class="mark">二同号复选</span></td>
                                            <td>开奖号码中的二同号数字(即对子号码)，非对子不中奖。</td>
                                        </tr>
                                        <tr>
                                            <td class="tit"><span class="mark">二同号单选</span></td>
                                            <td>开奖号码中的二同号数字(即对子号码)，和不同号的数字。</td>
                                        </tr>
                                        <tr>
                                            <td class="tit"><span class="mark">三不同号</span></td>
                                            <td>三不同号事指开奖号码的三个数子都不相同，竟猜这三个数字，猜对即中奖。</td>
                                        </tr>
                                        <tr>
                                            <td class="tit"><span class="mark">二不同号</span></td>
                                            <td>选择两个号码进行投注，开奖号码中包含这两个号码即中奖。</td>
                                        </tr>
                                        <tr>
                                            <td class="tit"><span class="mark">三连号通选</span></td>
                                            <td>对所有三连号进行投注，开奖号码为任意三连号(123、234、345、456)
                                                即中奖。</td>
                                        </tr>
                                        <tr>
                                            <td class="tit"><span class="mark">半顺、全顺、杂</span></td>
                                            <td>半顺、全顺、杂是针对黑码的玩法（开出红码和三同号不中奖），投注半顺玩法开出全顺号码不中奖。</td>
                                        </tr>
                                        <tr>
                                            <td class="tit"><span class="mark">跨度</span></td>
                                            <td>跨度为开出奖号的最大数与最小数值差值为跨度。</td>
                                        </tr>
                                        <tr>
                                            <td class="tit"><span class="mark">四码黑、四码红、五码黑</span></td>
                                            <td>四码黑是投注四个号码，开出奖号的三个不同号码全部在投注号码当中视为中奖。<br>四码红是投注四个号码，开奖号为红号并且两个不同的号码在投注号码当中视为中奖。<br>
                                                五码黑是投注五个号码，开出奖号的三个不同号码全部在投注号码当中视为中奖。<br>

                                            </td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-assect">
                            <span class="f-c-green m-r-5"><b>金额</b></span>
                            <span class="f-c-red m-r-5"><b class="moneyTotal">0</b></span>
                            <span class="m-r-5"><b>快速输入</b></span>
                            <input type="text" class="m-r-15 quickImport" v-model="quickImport">
                            <span class="h-btn btn-red m-r-5 submit">确认</span>
                            <a href="javascript: history.go(0);" class="h-btn m-r-5">重置</a>
                        </div>
                    </div>
                </div>
            </div>
            <div v-else-if="tabContent == 0" class="layout-body">
                <div class="loadBox">
                    <h4><span>吉林快3</span>&nbsp;&nbsp;&nbsp;下一期:&nbsp;&nbsp;&nbsp;<span style="color:#27AD9C;">{{nowPeriods}}</span>&nbsp;&nbsp;&nbsp;开盘时间:&nbsp;&nbsp;&nbsp;<span style="color:#27AD9C;">{{close_time}}</span></h4>
                    <h4>距离开盘时间还有:&nbsp;&nbsp;<span style="color:#27AD9C;">{{count_down}}</span></h4>
                </div> 
            </div>

        </div>
    </div>
    <!-- 确认投注 -->
    <div class="h-modal" id="confirmModal" data-width="450">
        <div class="h-modal-title">
            <h5>下注内容</h5>
            <span class="h-modal-close" data-methods="close">&times;</span>
        </div>
        <div class="h-modal-body">
            <div class="m-b-10">您下注的是&nbsp;[ <b>吉林快3</b> ]&nbsp;[ <b>A盘</b> ]</div>
            <table class="h-table" cellspacing="0" cellpadding="0" border="0" style="border-top: 1px solid #ddd">
                <thead>
                    <tr>
                        <th>下注方式</th>
                        <th>下注内容</th>
                        <th>赔率</th>
                        <th>下注金额</th>
                        <th>状态</th>
                    </tr>
                </thead>
                <tbody class="confirmTbody"></tbody>
            </table>
            <div class="m-t-10">共&nbsp;<b class="table-length"></b>&nbsp;注&nbsp;&nbsp;合计：<b class="moneyTotal"></b></div>
        </div>
        <div class="h-modal-footer">
            <span class="h-modal-button submit" data-methods="submit">确认下注</span>
            <span class="h-modal-button cancel" data-methods="close">取消</span>
        </div>
    </div>
</body>
<script src="__STATIC__/js/jquery-2.1.4.min.js"></script>
<script src="/static/js/vue.min.js"></script>
<script src="/static/js/global.js"></script>
<script src="/static/js/modal.js"></script>
<script src="/static/game/js/jlk3-2.js"></script>
</html>