<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>重庆时时彩</title>
    <link rel="stylesheet" href="__STATIC__/style/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/style/public.css">
    <link rel="stylesheet" href="__STATIC__/style/modal.css">
    <link rel="stylesheet" href="__STATIC__/game/style/jlssc.css">
</head>

<body>
    <div class="layout">
        {include file="public/head"}
        <!-- 控制内容宽度 （userInfo -> 左侧显示user） -->
        <div class="main" id="main">
            <!-- 左侧人物信息 -->
            {include file="public/slidebar"}
            <!-- 右侧内容信息 -->
            <div class="layout-body"  id="layoutBody">
                <div v-if="tabContent == 1" >
                     <!-- 上部分 -->
                    <div class="page-content-title">
                        <span>第</span>
                        <strong class="f-c-red">{{periods}}</strong>
                        <span>开奖号码</span>
                        <span v-for="(item,index) in periods_number" class="color-game" :class="'color' + item">{{item}}</span>
                    </div>
                    <!-- 切换 -->
                    <div class="clear-float select-wrapper">
                        <strong class="sub-title m-r-15">投注类型</strong>
                        <div @click="tab=0" class="select-item m-r-5" :class="(tab==0) ? 'active' : ''">一般</div>
                        <div @click="tab=1" class="select-item" :class="(tab==1) ? 'active' : ''">游戏规则</div>
                    </div>
                    <div class="portlet">
                        <div class="portlet-title clear-float">
                            <span>重庆时时彩&nbsp;&nbsp;</span>
                            <select @change="levelChange" v-model="levelValue" class="form-control changeGame">
                                <option v-for="(item, index) in level" :value="item">{{item}}</option>
                            </select>
                            <span class="m-l-30">第<b class="f-c-red">{{nowPeriods}}</b>期</span>
                            <span class="m-l-30">投注时间：<b class="f-c-red">{{count_down}}</b></span>
                            <span class="m-l-30">停盘时间：<b>{{close_time}}</b></span>
                            <div class="fast-import pull-right">
                                <span>快速输入&nbsp;</span>
                                <input type="text" class="form-control m-r-15 quickImport" v-model="quickImport">
                                <a href="javascript:history.go(0);" class="h-btn btn-red">重新整理</a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <!-- 游戏大厅 -->
                            
                        </div>
                    </div>
                </div>
                <div v-else-if="tabContent == 0">
                    <div class="loadBox">
                        <h4><span>重庆时时彩</span>&nbsp;&nbsp;&nbsp;下一期:&nbsp;&nbsp;&nbsp;<span style="color:#27AD9C;">{{nowPeriods}}</span>&nbsp;&nbsp;&nbsp;开盘时间:&nbsp;&nbsp;&nbsp;<span style="color:#27AD9C;">{{close_time}}</span></h4>
                        <h4>距离开盘时间还有:&nbsp;&nbsp;<span style="color:#27AD9C;">{{count_down}}</span></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 确认投注 -->
    <div class="h-modal" id="confirmModal" data-width="450">
        <div class="h-modal-title">
            <h5>下注内容</h5>
            <span class="h-modal-close" data-methods="close">&times;</span>
        </div>
        <div class="h-modal-body">
            <div class="m-b-10">您下注的是&nbsp;[ <b>重庆时时彩</b> ]&nbsp;[ <b><span class="level"></span>盘</b> ]</div>
            <table class="h-table" cellspacing="0" cellpadding="0" border="0" style="border-top: 1px solid #ddd">
                <thead>
                    <tr>
                        <th>下注方式</th>
                        <th>下注内容</th>
                        <th>赔率</th>
                        <th>下注金额</th>
                        <th>状态</th>
                    </tr>
                </thead>
                <tbody class="confirmTbody"></tbody>
            </table>
            <div class="m-t-10">共&nbsp;<b class="table-length"></b>&nbsp;注&nbsp;&nbsp;合计：<b class="moneyTotal"></b></div>
        </div>
        <div class="h-modal-footer">
            <span class="h-modal-button submit" data-methods="submit">确认下注</span>
            <span class="h-modal-button cancel" data-methods="close">取消</span>
        </div>
    </div>
</body>
<script src="__STATIC__/js/jquery-2.1.4.min.js"></script>
<script src="/static/js/vue.min.js"></script>
<script src="/static/js/global.js"></script>
<script src="/static/js/modal.js"></script>
<script src="/static/game/js/jlssc.js"></script>
</html>